@* @model IEnumerable<dotnet.Models.Product> *@
@model dotnet.Models.MovieGenreViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<form asp-controller="Product" asp-action="Index" method="get">
    <p>
        Tên: <input type="text" asp-for="SearchString" />

        Giá:
        <select asp-for="loaidachon" asp-items="Model.ds">
            <option value="">All</option>
        </select>
        <input type="submit" value="Lọc" />

    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Chỉnh sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
